.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  max-width: 500px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}  */